@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset léger propre */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
}

/* Boutons propres */
button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

/* Inputs propres */
input, select {
  outline: none;
}

